# API
fastapi
uvicorn
mangum
python-dotenv
pydantic
asyncpg
sqlalchemy
psycopg2-binary

# AI
transformers
datasets
torch --index-url https://download.pytorch.org/whl/cpu
contractions
google-genai hhhhh