name: FastAPI CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  CI:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Package Lambda
        run: |
          mkdir -p package
          cp -r api package/
          cp requirements.txt package/
          cp ./AI/pipeline.py package/
          cd package
          pip install -r requirements.txt -t .
          zip -r ../lambda.zip .

      - name: Upload zip file artifact
        uses: actions/upload-artifact@v4
        with:
          name: lambda.zip
          path: lambda.zip

  CD:
    runs-on: ubuntu-latest
    needs: [CI]

    steps:
      - name: Install AWS CLI
        uses: aws-actions/setup-aws-cli@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Download zip file artifact
        uses: actions/download-artifact@v4
        with:
          name: lambda.zip
          path: .

      - name: Deploy to Lambda
        run: |
          aws lambda update-function-code \
            --function-name FastAPI \
            --zip-file fileb://lambda.zip
